html,body{
  height: 100%;
  padding-top: 60px;
}
#wrap{
  width: 100%;
  position: relative;
  min-height: 100%;
}
#contents{
  padding-bottom: 140px;
}
#footer{
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #4169e1;
  color: white;
}
p.text-center{
  margin-top: 20px;
}
.navbar-right{
  margin-right: 15px;
}
p{
  text-align: center;
}
.navbar-default .navbar-brand {
    padding: 10px 10px;
}
